@import "./../../../../styles/variables";

.stock {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    cursor: pointer;
    gap: 1vh;

    &Card {
        position: absolute;
    }
}
