$primary: #7F5DF0; // Light purple
$secondary: #5D2DFD; // Dark purple
$warm : #f34c16;
$red : #FF6764;
$orange : #FF844C;
$darkModeBlack: #121212;
$darkModeLightBlack: #181818;
$darkModeGray: #404040;
$darkModeDarkGray: #282828;
$darkModeLightGray: #B3B3B3;
$white : #ffffff;