@import "./../../styles/variables";

.game {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    justify-content: space-between;
    width: 200vh;
    background-color: $blueBackground;

    &Top {
        width: 100%;
        height:25vh;
        display: flex;
        flex-direction: row;

        &Stock{
            width: 25%;
            height: 100%;
        }

        &Foundation {
            width: 75%;
            height: 100%;
        }
    }

    &Bottom {
        width: 100%;
        height: 75vh;
        display: flex;
        padding-left: 40px;
        padding-top: 20px;

        &Tableau {
            width: 100%;
            height: 100%;
            
        }
        
    }

    
    
}
